@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
  }
}

a.active {
  color: #936cf5;
}

html.dark a.active {
  color: #936cf5;
}
